<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
          <br>
          <% if (current_user) then %>
            <dt></dt>
            <dd>
              <div>
                <h5> <em> write a review.. </em></h5>
              </div>
            </dd>
            <dt></dt>
            <dd>
              <%= form_for [@product, Review.new] do |form| %>

                <% if flash[:notice] %>
                  <% flash[:notice].each do |error| %>
                    <div class="notice"><%= error %></div>
                  <% end %>
                <% end %>

                  <p>
                    <%= form.text_area :description, cols: "60", rows: "4" %>
                    <%= form.label :Rating, {}, {class: "rating-option"} %> &nbsp;
                    <%= form.select :rating, [["1", 1], ["2", 2], ["3", 3], ["4", 4], ["5", 5]], {}, {class: "rating-option"} %>
                  </p>
                  <p>
                    <%= form.submit %>
                  </p>
                <% end %>
            </dd>
          <% end %>
          <% @total_rating = 0 %>
          <dt> <h4> <em> <%= pluralize(@product.reviews.count,"Review") %></em> </h4> </dt>
          <dd> <h4> <em> Average Rating: <%=@product.reviews.average(:rating)%> </em> </h4> </dd>
        </dl>
        <%= render @product.reviews.order(created_at: :desc) %>
      </div>
    </div>
  </article>
</section>
